<div class="nb-background">
  <div class="nb-container">

    <div class="nb-logo">
      <a routerLink="/home">
        <div class="img-test" style="background-color: red; width: 100px; height: 100px;"></div>
        <!-- <img src="assets/images/logo.png" alt="logo" /> -->
      </a>
    </div>

    <div class="nb-menu">

          <!-- <a routerLink="/home" routerLinkActive="active"> -->
            <button mat-fab extended>
              <mat-icon>home</mat-icon>
              Home
            </button>
          <!-- </a> -->

            <button mat-fab extended>
              <mat-icon>apps</mat-icon>
              Garagem
            </button>

            <button mat-fab extended>
              <mat-icon>dataset</mat-icon>
              Cadastro de Cliente
            </button>

    </div>
  </div>
</div>
